<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./w3-presets.css">
    <meta charset="UTF-8">
    <title>Is It A Fork?</title>
</head>
<body>
<header class = "header w3-black w3-card-2 w3-margin-bottom">
    <a href="/" class="w3-button">Home</a>
    <a href="/faq" class="w3-button">FAQ</a>
</header>

<div class="centeredContent">
    <main class="content">
        <div class="w3-container w3-jumbo  w3-center">FAQ</div>
        <div class="w3-card-4 w3-margin-top w3-padding-16">
            <ul class="w3-ul">
                <li>
                    <div class="w3-container">
                        <div class="w3-container w3-xlarge w3-center w3-margin-bottom">What is a fork?</div>
                        <div class="w3-container w3-left">Fork is an opportunity to bet on all results of the competition in different bookmakers and make a profit regardless of the result of the competition.</div>
                    </div>
                </li>
                <li>
                    <div class="w3-container">
                        <div class="w3-container w3-xlarge w3-center w3-margin-bottom">How to use the site?</div>
                        <div class="w3-container w3-left">You just need open a several bookmakers site, choose common event on each site and write odds on our site. For your convenience, you can change the names of sites and teams, so as not to make a mistake when writing coefficients.</div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</div>

<footer class="footer w3-container w3-border-black w3-center w3-margin-top">
    <p class="w3-text">Created by Sviridov Yaroslav @Spolutrean</p>
</footer>

</body>
</html>