<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./w3-presets.css">
    <meta charset="UTF-8">
    <title>Is It A Fork?</title>
</head>
<body>
    <header class = "w3-xxlarge header w3-black w3-card-2 w3-margin-bottom">
        <a href="/" class="w3-button">Home</a>
        <a href="/faq" class="w3-button">FAQ</a>
    </header>
    <div class="centeredContent">
        <div class="content w3-container">
            <div class="w3-xxxlarge">It's not a fork :C</div>
            <div class="w3-xxlarge">Try another event...</div>
        </div>
    </div>
    <footer class="footer w3-container w3-border-black w3-center w3-margin-top">
        <p class="w3-text">Created by Sviridov Yaroslav @Spolutrean</p>
    </footer>
</body>
</html>